html,
* {
    box-sizing: border-box;
}

body {
    background-color: #2c3e50;
}

.col-left {
    float: left;
    width: 50%;
}

.col-right {
    float: left;
    width: 50%;
}

.score-row::after {
    content: " ";
    display: block;
    clear: both;
}

.score-row:hover .score-delete {
    display: block;
}

.score-delete {
    cursor: pointer;
    display: none;
    position: absolute;
    right: 10px;
    top: 30px;
    height: 43px;
    border: none;
    color: red;
    width: 70px;
}

.score-row {
    position: relative;
}

.score {
    float: left;
    padding: 10px;
    width: 50%;
    margin: 20px 0;
    float: left;
    color: white;
    font-family: monospace;
    font-size: 19px;
    text-transform: uppercase;
    font-weight: bold;
    text-align: center;
    background-color: #49556f;
    border: 10px solid #71d4e6;
}

.players-table {
    padding: 2%;
    /*padding-bottom: 100px;*/
    position: relative;
}

.player-total-score {
    position: absolute;
    left: 0;
    right: 0;
    bottom: 10px;
    width: 50%;
    margin: 0 auto;
    text-align: center;
    height: 50px;
    font-size: 30px;
    font-weight: bold;
    font-family: monospace;
    line-height: 50px;
    color: #31c2ce;
}

.clearfix {
    content: " ";
    display: block;
    clear: both;
}

.app-wrap {
    width: 70%;
    margin: 0 auto;
    border: 17px solid rgb(231, 231, 231);
}

.app-wrap:last-child::after {
    content: " ";
    display: block;
    clear: both;
}

.green-box {
    background-color: #49556f;
    border: 10px solid #71d4e6;
}

.score-add-popup {
    background-color: #71d4e6;
    border: 10px solid #687fae;
    text-align: center;
    padding: 20px 10px 10px;
    max-width: 220px;
    margin: 0 auto;
}

.score-add-popup input {
    max-width: 60%;
    display: inline-block;
    font-size: 25px;
    margin-bottom: 10px;
    height: 40px;
    border: none;
    text-align: center;
    font-weight: bold;
    color: #687fae;
}

.score-add-popup label {
    display: block;
    font-family: monospace;
    font-size: 17px;
    padding: 9px;
    text-align: right;
    text-transform: uppercase;
}

.players-header {
    font-size: 30px;
    font-weight: bold;
    text-align: center;
    padding: 10px;
    color: #687fae;
    text-transform: uppercase;
    font-family: monospace;
}

.score-add-popup .col-l {
    width: 30%;
    float: left;
}

.score-add-popup .col-r {
    float: left;
    width: 70%;
}

.score-add-popup button {
    width: 80%;
    font-size: 25px;
    height: 50px;
    background-color: #687fae;
    cursor: pointer;
    margin: 15px auto;
    border: none;
    color: #71d4e6;
    font-size: 18px;
    font-weight: bold;
    text-transform: uppercase;
    font-family: monospace;
    letter-spaceing: 10px;
}

.score-add-popup button:hover {
    background-color: white;
    color: #687fae;
}

.score-text-font {
    color: white;
    font-family: monospace;
    font-size: 19px;
    text-transform: uppercase;
    font-weight: bold;
    text-align: center;
}

.add-button {
    width: 50px;
    height: 40px;
    background-color: #687fae;
    color: white;
    font-size: 30px;
    font-weight: bold;
    text-align: center;
    padding-top: 7px;
    margin: 10px auto 0px auto;
    cursor: pointer;
}

.add-button:hover {
    background-color: #71d4e6;
}

.main-header {
    position: relative;
    text-align: center;
    height: 50px;
    padding-top: 17px;
    font-size: 30px;
    font-weight: bold;
    font-family: monospace;
    text-transform: uppercase;
    background-color: #71d4e6;
    color: white;
}

.main-menu {
    background-image: url("../public/settings.svg");
    background-repeat: no-repeat;
    background-size: 40px;
    background-position: center center;
    position: absolute;
    width: 60px;
    height: 67px;
    color: white;
    fill: white;
    z-index: 1;
    right: 0;
    top: 0;
}
